In [3]:
%pip install numpy pandas matplotlib

Requirement already satisfied: numpy in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (2.2.1)
Requirement already satisfied: matplotlib in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (3.8.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from matplotlib) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in c:\users\chat.dina\desktop\code\python\notebook\scatter-plot-regression-correlation\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('./uploads/Financial.csv')

df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014

### Doing Preprocessing

In [20]:
df = df.reset_index(drop=True)
old_col = df.columns.tolist()
# replace columns to proper headers, cause normal header has space
new_col = {}
#  loop to append new header
for i in old_col:
    # remove trailing _ and leading _
    new_str = re.sub(r'\s+', '_', i.lstrip('_').rstrip('_'))
    new_col[i] = new_str

# rename colum
df.rename(columns=new_col, inplace=True)

df['Profit'] = df['Profit'].replace(r'[\s\-$()-,]', '', regex=True)
df['Profit'] = pd.to_numeric(df['Profit'], downcast='float')
df['Profit'] = df['Profit'].fillna(0)
df['Year_Month'] = df['Year'] + df['Month_Number']*0.1

df1 = df.sort_values(by='Year_Month', ascending=True, inplace=False)
df1['Cumulative_Relative_Feq'] = df1['Profit'].cumsum()


df1

,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Date,Month_Number,Month_Name,Year,Year_Month,Cumulative_Relative_Feq
433,Channel Partners,France,VTT,Medium,2234.0,$250.00,$12.00,"$26,808.00","$2,412.72","$24,395.28","$6,702.00",17693.28,9/1/2013,9,September,2013,2013.9,17693.28
22,Midmarket,France,Paseo,None,549.0,$10.00,$15.00,"$8,235.00",$-,"$8,235.00","$5,490.00",2745.00,9/1/2013,9,September,2013,2013.9,20438.28
532,Enterprise,Mexico,Amarilla,High,947.0,$260.00,$125.00,"$118,375.00","$13,021.25","$105,353.75","$113,640.00",8286.25,9/1/2013,9,September,2013,2013.9,28724.53
500,Channel Partners,Mexico,VTT,High,1005.0,$250.00,$12.00,"$12,060.00","$1,326.60","$10,733.40","$3,015.00",7718.40,9/1/2013,9,September,2013,2013.9,36442.93
338,Small Business,Germany,Paseo,Medium,1123.0,$10.00,$300.00,"$336,900.00","$23,583.00","$313,317.00","$280,750.00",32567.00,9/1/2013,9,September,2013,2013.9,69009.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Enterprise,Canada,VTT,Low,2729.0,$250.00,$125.00,"$341,125.00","$6,822.50","$334,302.50","$327,480.00",6822.50,12/1/2014,12,December,2014,2015.2,18375906.45
261,Small Business,Germany,Velo,Medium,1250.0,$120.00,$300.00,"$375,000.00","$18,750.00","$356,250.00","$312,500.00",43750.00,12/1/2014,12,December,2014,2015.2,18419656.45
493,Small Business,France,Amarilla,High,853.0,$260.00,$300.00,"$255,900.00","$25,590.00","$230,310.00","$213,250.00",17060.00,12/1/2014,12,December,2014,2015.2,18436716.45
130,Channel Partners,Mexico,Velo,Low,1084.0,$120.00,$12.00,"$13,008.00",$260.16,"$12,747.84","$3,252.00",9495.84,12/1/2014,12,December,2014,2015.2,18446212.29
164,Enterprise,Germany,Paseo,Low,1706.0,$10.00,$125.00,"$213,250.00","$6,397.50","$206,852.50","$204,720.00",2132.50,12/1/2014,12,December,2014,2015.2,18448344.79